.progress-main .p-item:nth-child(4n+2) .progress-bar {
    background: #105F6B;
}

.progress-main .p-item:nth-child(4n+3) .progress-bar {
    background: #1B6CB3;
}

.progress-main .p-item:nth-child(4n+4) .progress-bar {
    background: #4D1BB3;
}
