.fa-stack .fa-stack-1x {
    color: white;
}

.fa-stack {
    font-size: 1em;
    color: #888;
}

.claim-image a {
    position: relative;
}

.claim-image a:before {
    content: "";
    border: 15px solid rgba(136, 136, 136, 0.6);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
    left: 0;
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: 99;
}

.claim-image.claim-image-red a:before {
    border: 15px solid rgba(255, 0, 0, 0.6);
}

.claim-image img {
    position: relative;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    z-index: 9999;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.claim-image a:hover img {
    -webkit-transform: scale(1.06, 1.06);
    transform: scale(1.06, 1.06);
}

.claim-image a:hover:before {
    -webkit-animation: none;
    animation: none;
}
