<div class="profile-page animate__animated animate_fadeIn">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div id="particles-js"></div>
            <div class="page-header-image" data-parallax="true">
            </div>
            <div class="container">
                <div class="content-center" *ngIf="profile">
                    <div class="cc-profile-image">
                        <a href="#"><img src="../../../assets/profile/0.jpg" alt="Image" /></a>
                    </div>
                    <div class="h2 title"> {{ profile.name }} </div>
                    <p class="category text-white"> {{ profile.titles }} </p>
                    <!-- <a class="btn btn-principal smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
                <a class="btn btn-principal disabled" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a> -->
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon cc-linkedin" href="https://www.linkedin.com/in/inggomezjc/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-default btn-round btn-lg btn-icon cc-github" href="https://github.com/CharlieGomez" rel="tooltip" title="Follow me on GitHub"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
