<footer class="footer">
    <div class="container text-center">
        <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/inggomezjc/">
            <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://github.com/CharlieGomez">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <!-- <div class="h4 title text-center">Carlos Gomez</div> -->
    <div class="text-center text-muted">
        <p>Copyright &copy; {{ currentYear }} Carlos Gomez J. All rights reserved.
            <!-- <br>Design -
          <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a> -->
        </p>
    </div>
</footer>